body {
    background-image: url("/img/template/fondoPrincipal.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  .panel {
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 18px 32px rgba(25, 24, 24, 0.452);
  }
  .panel h2 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .table {
    border-radius: 15px;
    overflow: hidden;
  }
  thead {
    background: #f0f2f5;
  }
  .badge {
    font-size: 0.85rem;
    padding: 0.5em 0.8em;
    border-radius: 12px;
  }
  .btn-sm, .btn {
    border-radius: 8px;
    font-weight: 500;
  }
  /* Hover bonito en filas */
  tbody tr:hover {
    background-color: #f9fafc;
    transition: background 0.2s;
  }

  /* Colores personalizados */
  .btn-agregar{
      background-color: #1e73be !important;
      color: #fff !important;
  }
  .btn-ver{
      background-color: #329b46 !important;
      color: #fff !important;
  }
  .btn-editar{
      background-color: #1e73be !important;
      color: #fff !important;
  }
  .btn-eliminar{
      background-color: #b85a05 !important;
      color: #fff !important;
  }
  
  .card-custom {
        border-radius: 1rem;
        border: 1px solid #cbd5e1;
        box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
        max-width: 720px;
        width: 100%;
    }
    .detalle-custom {
        border-top: 1px solid #e2e8f0;
        font-size: rem;
    }
    .btn-custom {
        padding: 0.5rem 1.2rem;
        border: 2px solid #315cfd;
        border-radius: 30px;
        background: white;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.3s;
        color: #315cfd;
        text-decoration: none;
    }
    .btn-custom:hover {
        background: #315cfd;
        color: white;
    }
    .text-muted-custom {
        color: #5f5f5f !important;
    }
    .card-footer-custom {
        background-color: transparent;
        border-top: 1px solid #e2e8f0;
        padding-top: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
    }